<div class="col-md-6">
      <%= simple_form_for [@list, Bookmark.new] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment, input_html: { class: 'form-control' } %>
      <%= f.button :submit, 'Add movie', class: "btn btn-primary btn-lg px-4" %>
      <% end %>
      <%= link_to 'Back to List', list_path(@list), class: "btn btn-secondary btn-lg mt-3 px-4" %>
  </div>
